.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease 0s;
}
.ex-1-square:hover{
    background-color: red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 0.4s ease 0s;
}
.ex-2-square:hover{
    width: 700px;
    height: 300px;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 0.4s ease 0s;
}
.ex-3-square:hover{
    border-radius: 50%;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 0.4s ease 0s;
}
.ex-4-square:hover{
    background-color: transparent;
    border: transparent;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 0.4s ease 0s;
}
.ex-5-square:hover{
    width: 200px;
    height: 200px;
}
.ex-5-square:active{
    width: 100px;
    height: 100px;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-6-img:hover{
    filter: grayscale();
}
.ex-7-img{
    transition: all 0.4s;
}
.ex-7-img:hover{
    filter: saturate(40);
    filter: sepia(40);
}
.ex-8-img:hover{
    filter: saturate(40);
    filter: sepia(40);
    border-radius:20px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 0.4s;
}
.ex-9-img:hover{
    filter: saturate(40);
    filter: sepia(40);

}
.ex-10-icon {
    font-size: 60px;
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    from: {transform: rotate(0deg);}
    to { transform: rotate(350deg);}
}
    
.ex-11-icon {
    font-size: 60px;
    animation: casual 2 timing-function delay iteration-count linear forwards fill-mode;;
}
.ex-11-icon:hover{
    animation: casual 2s linear forwards ;
}
@keyframes casual {
    0% {transform: rotate(0deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(0deg);}


}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-button:hover .ex-12-top-white {
    animation: button-animation 2s linear;
}
@keyframes button-animation {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}
.ex-13-button:hover .ex-13-top-white {
    animation: button-rotation 2s linear;
}
@keyframes button-rotation {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: button-rotation-bottom 2s linear;
}
@keyframes button-rotation-bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}


